<h1>Dobrý deň,</h1>

<p>
    Váš účet bol aktivovaný administrátorom. <br><br>

    <a href="{{ absolute_url(path('default.index')) }}">Navštíviť stránku</a>
</p>

<p>
    Tento e-mail bol generovaný.
</p>
