<h1>Dobrý deň,</h1>

<p>
    Vaša registrácia bola úspešná, prístup na stránku bude možný po schválení administrátorom <br><br>

    O schválení prístupu na stránku Vám pošleme e-mail.
</p>

<p>
    Tento e-mail bol generovaný.
</p>
