{% extends 'admin/index.html.twig' %}

{% block title %}Upraviť Carousel{% endblock %}

{% block content %}
    <h1>Upraviť Carousel</h1>
    <img src="{{ carousel.idImage|image('small') }}" alt="">

    {{ include('carousel/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('carousel.index') }}">spať na zoznam</a>

    {{ include('carousel/_delete_form.html.twig') }}
{% endblock %}
