{% extends 'admin/index.html.twig' %}

{% block title %}Nový Carousel{% endblock %}

{% block content %}
    <h1>Vytvoriť Carousel</h1>

    {{ include('carousel/_form.html.twig') }}

    <a href="{{ path('carousel.index') }}">späť na zoznam</a>
{% endblock %}
