{% extends 'admin/index.html.twig' %}

{% block title %}Nova kategoria{% endblock %}

{% block content %}
    <h1>Nová kategória</h1>

    {{ include('category/_form.html.twig') }}

    <a href="{{ path('category.index') }}">späť na zoznam</a>
{% endblock %}
