{% macro category(categories) %}
    {% for category in categories %}
        {% if category.categories is not empty %}
            <li class="menu__item">
                <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                <div class="menu__item-submenu-offset"></div>
                <a class="menu__item-link" href="">
                    {{ category.name }}
                    <svg class="menu__item-arrow" width="6px" height="9px">
                        <use xlink:href="{{ asset('asset/user/images/sprite.svg') }}#arrow-rounded-right-6x9"></use>
                    </svg>
                </a>
                <div class="menu__submenu">
                    <!-- .menu -->
                    <div class="menu menu--layout--classic ">
                        <div class="menu__submenus-container"></div>
                        <ul class="menu__list">
                            {{ _self.category(category.categories) }}
                        </ul>
                    </div>
                    <!-- .menu / end -->
                </div>
            </li>
        {% else %}
            <li class="menu__item">
                <!-- This is a synthetic element that allows to adjust the vertical offset of the submenu using CSS. -->
                <div class="menu__item-submenu-offset"></div>
                <a class="menu__item-link" href="">
                    {{ category.name }}
                </a>
            </li>
        {% endif %}
    {% endfor %}
{% endmacro %}